

    <div class="d-flex flex-row justify-content-between">
      <div class="p-2">
        <i (click)="home()"  title="PokeWorld!" class="fas fa-globe-americas fa-2x"></i>
        <i>&nbsp; &nbsp; &nbsp; &nbsp;</i>
        <i (click)="captures()" title="Captures!" class="fas fa-bullseye fa-2x"></i>    
      </div>
        <div class="p-2">
          <h2 class= "titulo" >
            {{ pokeService.Titulo}}
          </h2>
        </div>
      <div class="p-2">
        <div>
            <!--<app-input-pokemon></app-input-pokemon>-->
        </div>       
      </div>
    </div>




  